---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<h1 class="text-4xl font-bold">{SITE_TITLE}</h1>
	<div class="wavy my-6 max-w-xs"></div>
	<p class="text-ink-muted text-xl">{SITE_DESCRIPTION}</p>
</BaseLayout>
